# Project
PROJECT_NAME="Mobility Safety System API"
API_V1_STR="/v1"

# Security
PRE_SHARED_TOKEN="proto-secret-token-123"
SECRET_KEY="your-super-secret-jwt-key"
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# MongoDB
# 로컬 Docker Compose 사용 시: mongodb://mongo:27017
MONGODB_URL="mongodb://localhost:27017"
DATABASE_NAME="mobility_db"

# MQTT
# 로컬 Docker Compose 사용 시: mqtt
MQTT_BROKER_URL="localhost"
MQTT_PORT=1883
MQTT_CLIENT_ID="backend-worker-1"

# Business Logic
EMERGENCY_WAIT_SEC=30
